ACTION=="add", SUBSYSTEM=="block", ATTR{partition}=="1", ATTRS{type}=="SD",  RUN+="/usr/local/bin/autobackupsd --udev"

ACTION=="remove", SUBSYSTEM=="block", RUN+="/usr/local/bin/sdremoved"
