ACTION=="add", SUBSYSTEM=="block", ATTR{partition}=="1", ATTRS{type}=="SD",  RUN+="/home/hm/autobackupsd"

ACTION=="remove", SUBSYSTEM=="block", RUN+="/home/hm/stopled"